* {
	padding-top: 0;
	padding-left: 0
	padding-right: 0;
	margin-top: 0; 
	margin-left: 0;
	margin-right: 0;
	box-sizing: border-box;
}

body {
	background-color: #DCDCDC;
}

.h1-h6-text {
	font-family: Trebuchet MS;
	color: ;
	background-color: #1E90FF;
	text-align: center;
	padding-top: 10px
}

img {
	 display: block;
	 margin-left: auto;
	 margin-right: auto;
	 width: 25%;
	 position: relative;
	 padding-top: 40px;
	 border-bottom: solid #1E90FF;
}	

.image figure {
	font-family: Trebuchet MS;
	text-align: center;
	display: block;
	padding-bottom: 70px;
}

h3 {
	font-family: Trebuchet MS;
	color: #1E90FF;
	text-align: center;ore
}
.list {
	font-family: Trebuchet MS;
	margin: 25px 50px 45px 350px;
	line-height: 3.0;
	padding-bottom: 1px;
	display: block;
	width: 900px;
}

::marker {
	color: #1E90FF;
}

.paragrath {
	text-align: left;
	font-family: Trebuchet MS;
	color: #1E90FF;
	width: 95%;
	padding-top: -20px;
	margin-left: 30px;
}
h2 {
	font-family: Trebuchet MS;
	text-align: center;
}