body {
	background-color: #DCDCDC;
}

.h1-h6-text {
	font-family: Trebuchet MS;
	color: ;
	text-align: center;
	background-color: #1E90FF;
}

img {
	 display: block;
	 margin-left: auto;
	 margin-right: auto;
	 width: 25%;
}

.image p {
	font-family: Trebuchet MS;
	text-align: center;
	display: block;
    margin: 0 auto;
}
h3 {
	font-family: Trebuchet MS;
	color: #1E90FF;
	text-align: center;
}
.list {
	font-family: Trebuchet MS;
	margin: 25px 50px 75px 100px;
	line-height: 3.0;
}
::marker {
	color: #1E90FF;
}

.paragrath {
	text-align: left;
	font-family: Trebuchet MS;
	color: #1E90FF;
}
h2 {
	font-family: Trebuchet MS;
}